:root {
  
  --bg-main: #FAF7F2;
  --bg-card: #FFFFFF;
  --text-primary: #1F1F1F;
  --text-secondary: #555555;
  --accent-primary: #B23A48;
  --accent-secondary: #D6C6B8;
  --nav-bg: #2E2E2E;
  --btn-text: #FFFFFF;
  --border-light: #E6E1DB;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
}


body {
  background-color: var(--bg-main);
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav{
  background-color: var(--nav-bg);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button{
  background-color: transparent;
  color: var(--btn-text);
  letter-spacing: 1px;
  font-size: 18px;
  padding: 6px 14px;
  border: 1px solid var(--accent-secondary);
   border-radius: 4px;
}

button:hover {
  background-color: var(--accent-primary);
  border-color: var(--accent-primary);
  color: #FFFFFF;
}